// Imports
@use '../styles/variables';
@import 'https://fonts.googleapis.com/css?family=Inconsolata:300,400,700';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: variables.$black;
  font-family: variables.$inconsolata-font-family;
  line-height: 1;
  margin: 0;
  display: flex;
  justify-content: center;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
// End CSS Reset

.main-page-content {
  background-color: variables.$black;
  color: variables.$white;
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0;
  justify-content: center;
  align-items: center;
  max-width: 600px;

  p {
    line-height: 30px;
    margin: 10px 0;

    a {
      color: variables.$color5;
    }
  }

  @media screen and (max-width: variables.$mobile) {
    padding: 40px 20px;
    justify-content: flex-start;
  }
}

.back-link {
  border: 2px solid variables.$white;
  border-radius: 3px;
  color: variables.$white;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 40px;

  &:hover {
    background: variables.$white;
    color: variables.$color5;
    cursor: pointer;
  }
}