---
import "./resume.scss";
import resumePdf from "/DamirResume2026.pdf";
---

<main class="resume">
  <section class="resume-container">
    <header class="header">
      <a
        aria-label="Learn more about Damir on the Hire Me page"
        href="/hireme"
        class="coffee"
      >
        <img src="/images/damir.jpg" class="resume-img" alt="Damir" />
      </a>
      <h1 class="headline">
        Damir Harambasic
        <span class="hidden-text">Resume | Product Software Engineer</span>
        <span class="email-link">
          <a href="mailto:damir.hara@gmail.com">damir.hara@gmail.com</a> |
          <a class="phone-link" href="tel:18018654342">+1(801) 865-4342</a>
        </span>
        <span class="link">
          <a
            href="https://www.linkedin.com/in/damirharambasic"
            rel="noopener noreferrer"
          >
            linkedin.com/in/damir
            <svg
              class="link-icon"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              height="18"
              width="18"
            >
              <path
                d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </svg>
          </a>
          |
          <a href="https://www.damir.fun" rel="noopener noreferrer">
            www.damir.fun
            <svg
              class="link-icon"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              height="18"
              width="18"
            >
              <path
                d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </svg>
          </a>
        </span>
      </h1>
      <div class="resume-summary">
        <h3 class="sub-headline">SUMMARY</h3>
        <p class="summary-paragraph">
          Product Software Engineer with a 10+ years of expertise in creating
          high-quality, high-performance web and native products. Passionate
          about blending technical know-how with intuitive design to create a
          great UX. Skilled in modern technologies like React, React Native,
          TypeScript, Node.js and GraphQL, with a strong track record in leading
          projects and mentoring teams.
        </p>
      </div>
    </header>
    <section aria-label="Experience and background" class="main-section">
      <section class="experience-container">
        <h3 class="sub-headline">EXPERIENCE</h3>
        <ul class="job-wrapper">
          <li>
            <h4>
              Staff Software Engineer <span class="span-light">@</span> Varo Bank
            </h4>
            <h5>January 2020 - Present</h5>
            <ul>
              <li>
                - Currently working on our Lending products, focusing on new
                features and improvements in a push for profitability.
              </li>
              <li>
                - Previously worked across multiple projects and
                cross-functional teams, often at once.
              </li>
              <li>
                - I split my time (70/30) between a React Native, Expo, React
                (web) frontend and a GraphQL, Node.js "middle-layer".
              </li>
              <li>
                - Initially joined as a Senior Frontend Engineer and promoted to
                Staff Engineer in March 2024.
              </li>
              <li><strong>Key contributions:</strong></li>
              <li>
                - Helped with a complete rewrite of the Varo Bank app using
                React Native with Expo and TypeScript.
              </li>
              <li>
                - Led a team of 3-4 engineers and owned the rewrite of the
                settings page and related sub-pages in React Native.
              </li>
              <li>
                - Integrated with 3rd party services such as Statsig as our
                feature and experiment platform and Column Tax for tax prep.
              </li>
              <li>
                - Led the effort in building and advocating for our new Design
                System and promoted server-driven UI architectural pattern.
              </li>
              <li>
                - Played a pivotal role in hiring, mentoring and onboarding new
                engineers. i.e. hosting React workshops for Native Engineers.
              </li>
              <li>
                - <strong>Some technologies I am working with</strong>:
                TypeScript, React (web), React Native (Expo), GraphQL, Node.js
                (Fastify), PostgreSQL, React Testing Library, Storybook and
                Figma.
              </li>
            </ul>
          </li>
        </ul>

        <ul class="job-wrapper">
          <li>
            <h4>
              Sr. Frontend Developer <span class="span-light">@</span> Overstock.com
            </h4>
            <h5>October 2019 - December 2019</h5>
            <ul>
              <li>- Brief second stint at Overstock.</li>
              <li>
                - Focused on improving and maintaining the Product Details Page
                through feature development and bug fixes.
              </li>
              <li>
                - <strong>Some technologies I worked with</strong>: Node.js,
                Express, Webpack, Redux and React.
              </li>
            </ul>
          </li>
        </ul>

        <ul class="job-wrapper">
          <li>
            <h4>
              Sr. Full-Stack Developer <span class="span-light">@</span> tZERO
            </h4>
            <h5>September 2018 - October 2019</h5>
            <ul>
              <li>
                - Designed and engineered the UX for an innovative Web3 product
                built on blockchain technology.
              </li>
              <li>
                - Focused on the front-end (React, Redux) while contributing to
                back-end systems in Node.js, Express, and PostgreSQL.
              </li>
              <li>
                - Served as acting Dev Lead — hiring, mentoring, and guiding
                junior developers to improve code quality and velocity.
              </li>
              <li>
                - <strong>Some technologies I worked with</strong>: React,
                Redux, Node.js, Express, PostgreSQL, Jest and Webpack.
              </li>
            </ul>
          </li>
        </ul>

        <ul class="job-wrapper">
          <li>
            <h4>
              Frontend Developer <span class="span-light">@</span> Overstock.com
            </h4>
            <h5>October 2014 - September 2018</h5>
            <ul>
              <li>
                - Handled new feature implementation, A/B Tests, and bug
                squishing on product pages.
              </li>
              <li>
                - Worked on a full-stack mobile web app as well as various
                client-side apps.
              </li>
              <li>
                - Was involved in the design process of product with UX and
                Product teammates.
              </li>
              <li>
                - Built tools for our front-end workflow, such as implementing
                ES6 support and ReactJS into our repo.
              </li>
              <li>
                - Created reusable React components and NPM modules that were
                used by teams across Overstock.com.
              </li>
              <li>
                - During this time I was promoted to Senior Frontend Developer.
                Some previous teams I worked with: Marketing and Production web
                team.
              </li>
              <li>
                - <strong>Some technologies I worked with</strong>: jQuery,
                Node.js, Express, Webpack, Redux and React.
              </li>
            </ul>
          </li>
        </ul>

        <ul class="job-wrapper">
          <li>
            <h4>
              Freelance Developer and Designer <span class="span-light">@</span>
              Damir Hara Design
            </h4>
            <h5>March 2013 - &infin;</h5>
            <ul>
              <li>
                - Helped companies/clients build websites and web apps from
                scratch or by jumping in the middle of the project. I&apos;ve
                worked on everything from simple one-page static websites to
                production React apps served to millions of customers.
              </li>
              <li>
                - <strong>Clients worked with:</strong> tZERO, Infowrap.com, Cottonwood
                Electric, TheChapelMotorcycleShop.com.
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="skills-pill-container">
        <div class="skills-title">
          <h3 class="sub-headline">SKILLS</h3>
        </div>
        <ul>
          <li class="main-skill">JavaScript</li>
          <li>React</li>
          <li>React Native</li>
          <li>Redux</li>
          <li>TypeScript</li>
          <li>GraphQL (Apollo)</li>
          <li>REST APIs</li>
          <li>React Testing Library</li>
          <li class="cool-fact-container">
            Astro <span class="cool-fact">Used on this site! 🚀</span>
          </li>
          <li>Expo</li>
          <li>Next.js</li>
          <li>Node.js</li>
          <li>Bun.js</li>
          <li class="main-skill">CSS</li>
          <li>Styled Components</li>
          <li>Shadcn/ui</li>
          <li>Tailwind CSS</li>
          <li>SASS</li>
          <li>CSS Modules</li>
          <li>Responsive Design</li>
          <li>Storybook</li>
          <li class="main-skill">Semantic HTML</li>
          <li>Git &amp; CLI chops</li>
          <li>Troubleshooting</li>
          <li>Wireframing &amp; Prototyping</li>
          <li>Cross-platform compatibility</li>
          <li>Communication &amp; Liaison</li>
          <li>Accessibility</li>
          <li>Mentoring &amp; Advising</li>
          <li>Leadership</li>
        </ul>
      </section>
      <section class="education-container">
        <h3 class="sub-headline">EDUCATION</h3>
        <ul class="job-wrapper">
          <h4>University of Utah</h4>
          <h5>Class of 2014</h5>
          <li>BS, Strategic Communication</li>
        </ul>
      </section>
    </section>
    <footer class="footer">
      <a class="footer-button" href="mailto:damir.hara@gmail.com">
        📧 Get In Touch
      </a>
      <a
        aria-label="Download Damir's resume as a PDF"
        class="footer-button"
        href={resumePdf}
      >
        💾 Download PDF
      </a>
    </footer>
  </section>
</main>
