@use "../../styles/variables";

.resume {
  background-color: variables.$white;
  color: variables.$color1;
  font-family: variables.$inconsolata-font-family;
  width: 100%;
}

.resume-container {
  margin: 0 auto;
  max-width: 920px;
  padding: 20px 0;
  width: 70%;
}

.header {
  margin-bottom: 25px;
}

.sub-headline {
  border-bottom: 1px solid variables.$color1;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0 0 5px;
}

h1.headline {
  display: inline-block;
  font-size: 36px;
  margin: 5px 0 0 20px;
  vertical-align: top;

  a {
    color: variables.$color1;
    text-decoration: none;

    &:hover {
      color: variables.$color2;
      text-decoration: underline;
    }
  }
}

.hidden-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.email-link,
.link {
  display: block;
  font-size: 22px;
  font-weight: normal;
  margin: 5px 0;
}

.phone-link {
  font-size: 20px;
}

.link svg {
  margin-left: 5px;
  margin-bottom: -3px;
}

.summary-paragraph {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 5px;
}

.coffee {
  text-decoration: none;
}

.resume-img {
  border: 2px solid variables.$color1;
  border-radius: 25%;
  display: inline-block;
  max-width: 100px;
  min-height: 90px;
  min-width: 90px;
  padding: 2px;
  width: 15%;
}

.main-section {
  .sub-headline {
    margin: 5px 0;
  }
}

.skills-title {
  flex: 1 0 100%;
  margin-bottom: 20px;
}

.skills-wrapper,
.job-wrapper {
  margin: 20px 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  h4,
  h5 {
    margin: 10px 0 8px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  h5 {
    font-size: 15px;
  }

  li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    text-decoration: none;

    .highlights {
      margin-left: 20px;
      font-style: italic;
      line-height: 18px;
    }

    strong {
      font-weight: 700;
    }

    &.italicize {
      font-style: italic;
    }
  }
}

.education-container {
  margin-top: 25px;
}

.job-link {
  color: variables.$color1;
  text-decoration: none;

  &:hover {
    color: variables.$color2;
    text-decoration: underline;
  }
}

.skills-wrapper {
  flex: 1 0 50%;
  margin: 0;
}

.skills-pill-container {
  margin-top: 25px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  li {
    background-color: variables.$color1;
    color: variables.$white;
    border-radius: 4px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    gap: 6px;

    &.main-skill {
      color: variables.$black;
      background-color: variables.$color3;
      font-weight: 600;
    }
  }
}

.cool-fact-container {
  padding-right: 0 !important;
}

.cool-fact {
  padding: 1px 4px;
  background-color: variables.$color2;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  height: 114%;
  font-size: 12px;
}

.footer {
  display: flex;
  gap: 10px;
  margin: 50px 0;
}

.footer-button {
  border: 2px solid variables.$color5;
  border-radius: 3px;
  color: variables.$color5;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;

  &:hover {
    background: variables.$color5;
    color: variables.$white;
  }
}

@media print {
  .resume-container {
    max-width: 1200px;
  }

  .hide-for-print,
  .cool-fact,
  .footer {
    display: none;
  }

  .skills-pill-container {
    li {
      background-color: variables.$white;
      border: 1px solid variables.$black;
      color: variables.$black;
      font-size: 14px;
    }
  }

  .cool-fact-container {
    padding-right: 4px !important;
  }
}

@media screen and (max-width: 970px) {
  .resume-container {
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .resume-container {
    width: 85%;
  }
}

@media screen and (max-width: variables.$mobile) {
  .resume-container {
    width: 90%;
  }
  .email-link,
  .phone-link,
  .link {
    font-size: 16px;

    svg {
      height: 14px;
      width: 14px;
    }
  }

  h1.headline {
    font-size: 32px;
    margin-left: 0;
  }

  .skills-education-wrapper {
    flex-direction: column;
  }

  .education-container {
    padding: 0;
  }

  .skills-wrapper {
    flex: 1 0 100%;
  }

  .footer-button {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
}
