@use '../../styles/variables';

.coffee-counter {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 8px;

  @media screen and (max-width: variables.$mobile) {
    margin-left: 24px;
  }
}

.coffee-label {
  color: variables.$color3;
  font-weight: 600;
}

.coffee-icons {
  letter-spacing: 2px;
  filter: drop-shadow(0 0 2px variables.$color4);
}
