---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
---

<Layout title="damir.fun | Hire Me | Web Software Engineer and Developer">
	<main class="main-page-content">
    <h1 
      style={{
        fontSize: '30px',
        marginBottom: '40px'
      }}>
        Howdy! 🤠
    </h1>
    <p>
      Welcome to my "Hire Me" page. If you've landed on this page, you've likely been linked to it by me, or you've delved into some serious detective work.
    </p>
    <p>
      I am currently employed as a Senior Frontend Engineer at <a href="https://www.varomoney.com/">Varo Bank</a>. I bounce around different projects and teams but lately have been focusing on building our new Design System, updating our dependencies to handle React v18, integrating <a href="https://statsig.com/">Statsig</a> as our new feature and experiment platform, and helped build out our new onboarding experience. I primarily work with technologies such as: TypeScript, React, and GraphQL with Apollo.
    </p>
    <p>
      Before my tenure at Varo, I held positions as a Senior Frontend Developer at <a href="https://www.tzero.com/">tZERO</a> and <a href="https://www.bedbathandbeyond.com/">Overstock.com</a>. In those roles, I led teams and spearheaded projects using technologies such as React, Redux, NodeJS, Express, and PostgreSQL on the backend.
    </p>
    <p>
      Although my primary domain is frontend development, I consider myself a well-rounded Web Engineer with the ability to work across the entire tech stack independently. I have a strong affinity for the UI aspects of Web Engineering and possess a keen attention to detail, whether it pertains to design or code. This attention to detail is what I consider my "superpower."
    </p>
    <p>
      My academic background includes a Bachelor of Science degree in Mass Communication from the University of Utah, as well as an Associate of Science degree from Salt Lake Community College.
    </p>
    <p>
      Some current technologies that interest me: TypeScript, React, Astro.build, NextJS, Bun, and Redix UI. Would love to work with these in my next role.
    </p>
    <p>
      Outside of work, I take pleasure in spending time outdoors with my dog, Arto, and my girlfriend, Jordan. I also have a passion for cycling and running. For more on that, check out my <a href="https://www.strava.com/athletes/256235">Strava</a>.
    </p>
    <p>
      Thank you for your consideration, and I look forward to discussing how my skills and experiences can benefit your team. 🤙
    </p>
    <div class="button-container" style={{ display: 'flex', gap: '10px', marginBottom: '40px' }}>
      <a class="back-link" href="/">Take Me Home</a>
      <a class="back-link" href="/resume">Resume</a>
    </div>
  </main>
</Layout>