---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
---

<Layout title="damir.fun | Hire Me | Web Software Engineer and Developer">
	<main class="main-page-content">
    <h1 
      style={{
        fontSize: '30px',
        marginBottom: '40px'
      }}>
        Howdy! 🤠
    </h1>
    <p>
      Welcome to my hire me page. If you've stumbled upon this page you most likely got linked to it by me or you've creeped really hard.
    </p>
    <p>
      I am currently a Senior Frontend Engineer at <a href="https://www.varomoney.com/">Varo Bank</a>. I bounce around different projects and teams at Varo but lately have been focusing on building our new Design System, updating our dependencies to handle React v18, integrating <a href="https://statsig.com/">Statsig</a> as our new feature and experiment platform, and building a new onboarding experience. I primarily work with technologies such: TypeScript, React, and GraphQL with Apollo.
    </p>
    <p>
      Before my time at Varo, I was a Senior Frontend Developer at <a href="https://www.tzero.com/">tZERO</a> and <a href="https://www.bedbathandbeyond.com/">Overstock.com</a>. Where I led teams and projects building things with React, Redux and NodeJS, Express, PostgreSQL on the backend.
    </p>
    <p>
      My educational background includes a Bachelor of Science degree in Mass Communication from the University of Utah as well as an Associates of Science from Salt Lake Community College.
    </p>
    <p>
      Some current technologies that interest me: TypeScript, React, Astro.build, NextJS, Bun, and Redix UI. Would love to work with these in my next role.
    </p>
    <a class="back-link" href="/">Take Me Back</a>
  </main>
</Layout>