---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
import Main from '../components/Main/Main'
import NowPlaying from '../components/NowPlaying/NowPlaying';
---

<Layout title="damir.fun | Web Software Engineer and Developer">
	<main class="main-page-content">
		<Main />
		<NowPlaying client:load />
	</main>
</Layout>
