---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
import Intro from '../components/Intro/Intro'
import NowPlaying from '../components/NowPlaying/NowPlaying';
import BuiltWith from '../components/BuiltWith/BuiltWith';
---

<Layout title="damir.fun | Web Software Engineer and Developer">
	<main class="main-page-content">
		<Intro />
		<NowPlaying client:load />
		<BuiltWith />
	</main>
</Layout>
