---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
import Main from '../components/Main/Main'
---

<Layout title="damir.fun | Frontend Software Engineer and Developer">
	<main class="main-page-content">
		<Main />
	</main>
</Layout>
