@use '../../styles/variables';

.built-with {
  color: variables.$color3;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 13px;
  position: absolute;
  bottom: 15px;
  right: 40px;

  a {
    color: variables.$color3;
  }

  @media screen and (max-width: variables.$mobile) {
    left: 44px;
    // For now:
    display: none;
  }
}